.form {
    color: #000;
    padding-right: 1rem;
}
.form .form-group {
    display: flex;
    align-items: baseline;
}
.form .control-label {
    min-width: 5rem;
    text-align: right;
    margin-right: 0.5rem;
}

.form .form-control{
    margin-right: 0.5rem;
}

.form .btn {
    white-space: nowrap;
}

.btn-add, .btn-remove {
    width:37px;
}

/**/
.scan_group .control-label {
    min-width: auto;
    text-align: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.scan_group .btn {
    white-space: nowrap;
    width: 6.6rem;
}
