<div class="container">
    <div class="row">

        @if (permission.search0){
        <div class=" col-6 col-lg-4">
            <a [routerLink]="['search0']">
                <div class="menu-item d-flex flex-column text-center justify-content-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="PDAMenuSVG bi bi-search"
                            viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </div>
                    <div>
                        <label class="title">{{PDAFunctionDataRef.getName("search0")}}</label>
                    </div>
                </div>
            </a>
        </div>
        }

        @if (permission.search1){
        <div class=" col-6 col-lg-4">
            <a [routerLink]="['search1']">
                <div class="menu-item d-flex flex-column text-center justify-content-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="PDAMenuSVG bi bi-search"
                            viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </div>
                    <div>
                        <label class="title">{{PDAFunctionDataRef.getName("search1")}}</label>
                    </div>
                </div>
            </a>
        </div>
        }

    </div>
</div>