<div class="container">
    <div class="row">
        @if (permission.csfi5140){
        <div class=" col-6 col-lg-4">
            <a [routerLink]="['csfi5140']">
                <div class="menu-item d-flex flex-column text-center justify-content-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="PDAMenuSVG bi bi-cart-check-fill" viewBox="0 0 16 16">
                            <path
                                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                        </svg>
                    </div>
                    <div>
                        <label class="title">{{PDAFunctionDataRef.getName("csfi5140")}}</label>
                    </div>
                </div>
            </a>
        </div>
        }


        @if (permission.csfi5141){
        <div class=" col-6 col-lg-4">
            <a [routerLink]="['csfi5141']">
                <div class="menu-item d-flex flex-column text-center justify-content-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="PDAMenuSVG bi bi-cart-check-fill" viewBox="0 0 16 16">
                            <path
                                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                        </svg>
                    </div>
                    <div>
                        <label class="title">{{PDAFunctionDataRef.getName("csfi5141")}}</label>
                    </div>
                </div>
            </a>
        </div>
        }


        @if (permission.csfi5142){
        <div class=" col-6 col-lg-4" >
            <a [routerLink]="['csfi5142']">
                <div class="menu-item d-flex flex-column text-center justify-content-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="PDAMenuSVG bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                        </svg>
                    </div>
                    <div>
                        <label class="title">{{PDAFunctionDataRef.getName("csfi5142")}}</label>
                    </div>
                </div>
            </a>
        </div>
        }

        @if (permission.csfi5143){
        <div class=" col-6 col-lg-4" >
            <a [routerLink]="['csfi5143']">
                <div class="menu-item d-flex flex-column text-center justify-content-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="PDAMenuSVG bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </div>
                    <div>
                        <label class="title">{{PDAFunctionDataRef.getName("csfi5143")}}</label>
                    </div>
                </div>
            </a>
        </div>
        }


    </div>
</div>